:root {
    --color-blue: #0087cc;
    --color-text: #555;
    --color-date: #929292;
    --color-menu: #fff;
    --color-menu-rollover: #ddd;
    --color-link: #0087cc;
    --color-link-rollover: #ff7b29;
    --color-yellow-100: oklch(97.3% .071 103.193);
    --color-yellow-500: oklch(79.5% .184 86.047);
    --color-yellow-700: oklch(55.4% .135 66.442);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-blue-600: oklch(54.6% .245 262.881);
    --color-blue-700: oklch(48.8% .243 264.376);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-white: #fff;
    --spacing: .25rem;
    --container-2xl: 42rem;
    --text-xs: .75rem;
    --text-xs--line-height: calc(1/.75);
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25/.875);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75/1.125);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2/1.5);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5/2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --radius-lg: .5rem;
    --radius-2xl: 1rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--font-sans);
}

body {
    margin: 0;
    font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    vertical-align: middle;
    display: block;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button,
input,
select,
optgroup,
textarea {
    font: inherit;
    color: inherit;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
}

textarea {
    resize: vertical;
}

::placeholder {
    opacity: 1;
    color: color-mix(in oklab, currentcolor 50%, transparent);
}

ul,
ol,
menu {
    list-style: none;
}

.relative {
    position: relative;
}

.bottom-0 {
    bottom: calc(var(--spacing) * 0);
}

.container {
    width: 100%;
}

@media (min-width: 40rem) {
    .container {
        max-width: 40rem;
    }
}

@media (min-width: 48rem) {
    .container {
        max-width: 48rem;
    }
}

@media (min-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

@media (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}

@media (min-width: 96rem) {
    .container {
        max-width: 96rem;
    }
}

.mx-auto {
    margin-inline: auto;
}

.mt-2 {
    margin-top: calc(var(--spacing) * 2);
}

.mt-4 {
    margin-top: calc(var(--spacing) * 4);
}

.mr-1 {
    margin-right: calc(var(--spacing) * 1);
}

.mb-1\.5 {
    margin-bottom: calc(var(--spacing) * 1.5);
}

.mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
}

.mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
}

.mb-6 {
    margin-bottom: calc(var(--spacing) * 6);
}

.ml-4 {
    margin-left: calc(var(--spacing) * 4);
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.inline {
    display: inline;
}

.h-8 {
    height: calc(var(--spacing) * 8);
}

.w-8 {
    width: calc(var(--spacing) * 8);
}

.w-full {
    width: 100%;
}

.max-w-2xl {
    max-width: var(--container-2xl);
}

.flex-1 {
    flex: 1;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.gap-4 {
    gap: calc(var(--spacing) * 4);
}

:where(.space-y-6 > :not(:last-child)) {
    margin-block-end: calc(var(--spacing) * 6);
}

:where(.space-x-4 > :not(:last-child)) {
    margin-inline-end: calc(var(--spacing) * 4);
}

.rounded-lg {
    border-radius: var(--radius-lg);
}

.rounded-l-2xl {
    border-top-left-radius: var(--radius-2xl);
    border-bottom-left-radius: var(--radius-2xl);
}

.border {
    border-style: solid;
    border-width: 1px;
}

.border-l-4 {
    border-left-style: solid;
    border-left-width: 4px;
}

.border-gray-300 {
    border-color: var(--color-gray-300);
}

.border-yellow-500 {
    border-color: var(--color-yellow-500);
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-blue-600 {
    background-color: var(--color-blue-600);
}

.bg-yellow-100 {
    background-color: var(--color-yellow-100);
}

.p-2 {
    padding: calc(var(--spacing) * 2);
}

.p-4 {
    padding: calc(var(--spacing) * 4);
}

.px-4 {
    padding-inline: calc(var(--spacing) * 4);
}

.px-6 {
    padding-inline: calc(var(--spacing) * 6);
}

.py-2 {
    padding-block: calc(var(--spacing) * 2);
}

.py-3 {
    padding-block: calc(var(--spacing) * 3);
}

.pt-4 {
    padding-top: calc(var(--spacing) * 4);
}

.pb-2 {
    padding-bottom: calc(var(--spacing) * 2);
}

.text-center {
    text-align: center;
}

.text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);
}

.text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
}

.text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);
}

.text-lg {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-light {
    font-weight: var(--font-weight-light);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.font-normal {
    font-weight: var(--font-weight-normal);
}

.text-blue {
    color: var(--color-blue);
}

.text-date {
    color: var(--color-date);
}

.text-gray-700 {
    color: var(--color-gray-700);
}

.text-link {
    color: var(--color-link);
}

.text-menu {
    color: var(--color-menu);
}

.text-text {
    color: var(--color-text);
}

.text-white {
    color: var(--color-white);
}

.text-yellow-700 {
    color: var(--color-yellow-700);
}

.opacity-50 {
    opacity: .5;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.resize-none {
    resize: none;
}

.transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
}

@media (hover: hover) {
    .hover\:bg-blue-700:hover {
        background-color: var(--color-blue-700);
    }

    .hover\:text-menu-rollover:hover {
        color: var(--color-menu-rollover);
    }

    .hover\:underline:hover {
        text-decoration-line: underline;
    }

    .hover\:opacity-75:hover {
        opacity: .75;
    }
}

.focus\:border-transparent:focus {
    border-color: transparent;
}

.focus\:ring-2:focus {
    box-shadow: 0 0 0 calc(2px) var(--color-blue-500);
}

.focus\:ring-blue-500:focus {
    box-shadow: 0 0 0 calc(2px) var(--color-blue-500);
}